vector_index_hf.pkl
vector_index_1.pkl
Untitled1.ipynb
untitled.txt
Untitled.ipynb
testing.ipynb
text_split.ipynb
Tata_Motors.txt
retrival.ipynb
FAISS_text.csv
New Text Document.txt
faiss_store_openai.pkl
faiss_store_huggingface.pkl
faiss_store.pkl
faiss.ipynb
NEW-VENV
.streamlit
.jupyter
.ipython
.ipynb_checkpoints


