streamlit==1.40.2
python-dotenv==1.0.1
langchain==0.2.11
langchain-core==0.2.24
langchain-community==0.2.10
langchain-classic==1.0.0
langchain-openai==0.1.17
langchain-text-splitters==0.2.2
openai==1.109.1
tiktoken==0.8.0
faiss-cpu==1.9.0.post1
unstructured==0.16.8
sentence-transformers==3.3.1
tf-keras==2.20.1
